@charset "UTF-8";

/*CONFIGURAÇÕES INICIAS*/
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --corDestaque: #6577B3;
    --corFundo: #a2a2a8;
}

body{
    background-color: rgb(228, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*CONFIGURAÇÕES DO CABEÇALHO*/
header{
    background-color: var(--corDestaque);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

header > h1{
    margin-bottom: 15px;
}

/*CONFIGURAÇÕES DO CORPO*/
main{
    max-width: 1200px;
    margin: auto;
}

section#adicionar-tarefa, section#campo-tarefas{
    background-color: var(--corFundo);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

main > section#adicionar-tarefa{
    height: 75px;
}

main > section#adicionar-tarefa > div#add-tarefa-response{
    margin: 30px 0px;
}

main > section#campo-tarefas{
    min-height: 65vh;
}

main > section#campo-tarefas > div#lista-tarefas{
    margin-top: 30px;
}

main > section#campo-tarefas > div#lista-tarefas > div.card-tarefa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 5px;

}

main > section#campo-tarefas > div#lista-tarefas > p{
    margin: 30px;
}

main > section#campo-tarefas > div#lista-tarefas > div.card-tarefa > mark{
    padding: 4px;
    border-radius: 10px;
}

dialog#menu-flutuante{
    background-color: var(--corDestaque);
    width: 150px;
    border-radius: 5px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.384);
    opacity: 0;
    transition: opacity .15s ease, overlay .15s ease allow-discrete, display .15s ease allow-discrete;
}

dialog#menu-flutuante[open]{
    opacity: 1;
}

@starting-style{
    dialog#menu-flutuante[open]{
        opacity: 0;
    }
}


dialog#menu-flutuante > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50px;
    padding: 5px 0px;
    border: 0;
}

dialog#menu-flutuante > div > p{
    height: 50%;
    padding: 5px;
    cursor: pointer;
}

dialog#menu-flutuante > div > p:hover{
    background-color: rgba(216, 216, 216, 0.253);
}

/*CONFIGURAÇÕES DO RODAPÉ*/
footer{
    text-align: center;
    padding: 5px;
    background-color: var(--corDestaque);
}

footer > p > a{
    color: black;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}