@charset "UTF-8";

/*CONFIGURAÇÕES INICIAS*/
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --corDestaque: #6577B3;
    --corFundo: #a2a2a8;
}

body{
    background-color: rgb(228, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*CONFIGURAÇÕES DO CABEÇALHO*/
header{
    background-color: var(--corDestaque);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

header > h1{
    margin-bottom: 15px;
}

/*CONFIGURAÇÕES DO CORPO*/
main{
    max-width: 1200px;
    margin: auto;
}

section#adicionar-tarefa, section#campo-tarefas{
    background-color: var(--corFundo);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

main > section#adicionar-tarefa > h2{
    font-size: 1.2em;
    text-align: start;
    margin-bottom: 20px;
}

main > section#adicionar-tarefa > div#flexivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

main > section#adicionar-tarefa > div#flexivel input{
    border-radius: 5px;
    border: 0;
    padding: 2px;
    border: 1px solid rgba(233, 233, 233, 0.678);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
    width: 50%;
}

main > section#adicionar-tarefa > div#flexivel > textarea{
    max-width: 100%;
    max-height: 150px;
    min-height: 50px;
    padding: 2px;
    border-radius: 10px;
}

main > section#adicionar-tarefa > div#add-tarefa-response{
    margin: 30px 0px;
}

main > section#campo-tarefas{
    min-height: 65vh;
}

main > section#campo-tarefas > p#filtrar-tarefa{
    margin-top: 20px;
}

main > section#campo-tarefas > div#lista-tarefas{
    margin-top: 30px;
}

main > section#campo-tarefas > div#lista-tarefas > div.card-tarefa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 5px;
}

main > section#campo-tarefas > div#lista-tarefas > div.card-tarefa > section.card-tarefa-sup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main > section#campo-tarefas > div#lista-tarefas > p{
    margin: 30px;
}

main > section#campo-tarefas > div#lista-tarefas  mark{
    padding: 4px;
    border-radius: 10px;
}

div.check-menu > i{
    margin-right: 10px;
}

.conteudo-tarefa-fechado{
    display: none;
    transition: display 3s ease;
}

.conteudo-tarefa-aberto{
    display: grid;
    grid-template: 1fr 35px / 1fr 1fr;
}

.conteudo-tarefa-aberto > p{
    margin: 10px;
}

.description{
    grid-column: span 2;
    text-align: justify;
}

main > section#campo-tarefas > button#btn-excluir,
main > section#adicionar-tarefa > button#btn-adicionar-tarefa
{
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(233, 233, 233, 0.678);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    background-color: white;
    transition: background-color .3s;
}

main > section#campo-tarefas > button#btn-excluir:hover,
main > section#adicionar-tarefa > button#btn-adicionar-tarefa:hover
{
    background-color: rgba(206, 198, 198, 0.192);
}


dialog{
    background-color: var(--corDestaque);
    width: 150px;
    border-radius: 5px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.384);
    opacity: 0;
    transition: opacity .15s ease, overlay .15s ease allow-discrete, display .15s ease allow-discrete;
}

dialog#info{
    padding: 10px;
    width: 130px;
}

dialog[open]{
    opacity: 1;
}

@starting-style{
    dialog[open]{
        opacity: 0;
    }
}


dialog#menu-flutuante > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50px;
    padding: 5px 0px;
    border: 0;
}

dialog#menu-flutuante > div > p{
    height: 50%;
    padding: 5px;
    cursor: pointer;
}

dialog#menu-flutuante > div > p:hover{
    background-color: rgba(216, 216, 216, 0.253);
}

main > section#campo-tarefas >div#status-tarefas{
    margin-top: 20px;
    background-color: var(--corDestaque);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

/*CONFIGURAÇÕES DO RODAPÉ*/
footer{
    text-align: center;
    padding: 5px;
    background-color: var(--corDestaque);
}

footer > p > a{
    color: black;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}